@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    padding-top: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center ;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 670px;
    position: relative;
}

.main .box {
    height: 720px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 75vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 8px 18px;
    font-weight: 700;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid rgba(188, 185, 185, 0.555);
    cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 40px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
    border: 1px solid red;
    height: 57px;
}

.btn-red-sm {
    background-color: red;
    color: white;
    border: 1px solid red;

}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 160px 8px 14px;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    height: 40px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg1 {
    position: relative;
}

.secImg1 img {
    width: 480px;
    position: relative;
    z-index: 10;
    top: 97px;
    right: 21px;
}

.secImg1 video {
    height: 220px;
    position: relative;
    bottom: 187px;
}

.secImg2 {
    position: relative;
}

.secImg2 img {
    width: 560px;
    position: relative;
    z-index: 10;
    left: 0px;
}

.secImg3 {
    position: relative;
}

.secImg3 img {
    width: 449px;
    position: relative;
    z-index: 10;
    top: 113px;
    right: 36px;
}

.secImg3 video {
    height: 155px;
    position: relative;
    bottom: 182px;
    right: 38px;
}

.secImg4 {
    position: relative;
}

.secImg4 img {
    width: 500px;
    position: relative;
    z-index: 10;
    left: 0px;
}




section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}


.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 72vw;
    margin: 10px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {

    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }


}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .first {
        display: flex;
        flex-direction: row;
        
    }

}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media (max-width:600px) {
    .secImg1 img {
        width: 360px;
        left: 0px;

    }

    .secImg1 video {
        height: 169px;
        bottom: 118px;
        left: 19px;

    }

    .secImg2 img {
        width: 360px;
    }

    .secImg3 img {
        width: 360px;
        left: 0px
    }

    .secImg3 video {
        height: 126px;
        left: 4px;
        bottom: 122px;
    }

    .secImg4 img {
        width: 360px;
    }

    .main .box {
       padding: 0;
       margin: 0;
    }
}